<h1>Eat-da-burger</h1>

<h2>Burgers</h2>

<ul>
  {{#each burgers}}
    {{#unless this.devoured}}
      <li>{{this.burger_name}}</li>
      <button class="devourBtn" data-id="{{this.id}}" data-devoured="{{this.devoured}}">Devour</button>
    {{/unless}}
  {{/each}}
</ul>

<h2>Devoured Burgers</h2>
  <ul>
    {{#each burgers}} 
      {{#if this.devoured}}
        <li>{{this.burger_name}}</li>
      {{/if}} 
    {{/each}}
  </ul>
</div>

<h2>Add Burger:</h2>

  <form class="create-form">
      <input id="burger-input" placeholder="Burger Name" rows="3"></input>
      <button id="burger-submit" class="btn" type="submit">Add Burger</button>
  </form>
</form>